@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #3b5d50;
  --primary-yellow: #f9bf29;
  --primary-black: #2f2f2f;
  --primary-white: #fff;
  --primary-gray: #6a6a6a;

  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}

h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;

  color: var(--primary-white);
}

@media (max-width: 1500px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;

  color: var(--primary-black);
}

p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: var(--primary-gray);
}
